[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pychal = "*"
# challongeapicaller = {editable = true, path = "."}

[dev-packages]
pytest = "*"
icecream = "*"
coverage = "*"

[requires]
python_version = "3.6"
